.top__liner{
  width: 80%;
  font-size: 2vw;
}
.top__liner {
  font-size: 10px;
  color: white;
}
/* body,
button,
input,
select,
textarea {
	color: #404040;
	font-size: 18px;
	line-height: 1.5;
} */
h2
 {
	clear: both;
  letter-spacing: 2px;
  font-size: 1rem;
}

p {
	margin-bottom: 1.5em;
}
img {
	display: block;
	border: 0;
	width: 100%;
	height: auto;
}
/* .card {
	background: #6e7572;
	margin-bottom: 2em;
} */

/* .card a {
	color: black;
	text-decoration: none;
} */

/* .card a:hover {
	box-shadow: 3px 3px 8px hsl(0, 0%, 80%);
} */
.card-content {
	padding: 1.4em;
}
.card-content h2 {
	margin-top: 0;
	margin-bottom: .5em;
	font-weight: bold;
}
.card-content p {
	font-size: 80%;
}
.card {
   display: flex;
   flex-direction: row-reverse;
   justify-content: space-between;
   flex-wrap: nowrap;
   background: #07f5d1;
 	 margin-bottom: 2em;
   margin-top: 10px;
}
